<a href="/tari">
    Vezi tarile
</a>

<a href="/orase">
    Vezi orase
</a>
<a href="/hoteluri">
    Vezi hoteluri
</a>
<a href="/departamente">
    Vezi departamente
</a>

<a href="/joburi">
    Vezi joburi
</a>

<a href="/views">
    Vezi vizualizari
</a>

<a href="/complexa">
    Vezi vizualizari complexe
</a>

<a href="/angajati">
    Vezi angajati
</a>

<a href="camere">
    Vezi camere
</a>

<a href="/oferte">
    Vezi oferte
</a>

<a href="/clienti">
    Vezi clienti
</a>

<a href="/restaurante">
    Vezi restaurante
</a>

<a href="/cazari">
    Vezi cazari
</a>